@charset "UTF-8";
body {
    background-image: linear-gradient(-45deg, yellow 1%,red 10%,black 50% );
    background-attachment: fixed; 
    
    
}

h2 {
    text-align: center; 
    margin: auto;
    box-shadow: 0.125rem 0.313rem 0.938rem indigo;
    border-radius: 90%;
    width: 18.75rem;
    color: tomato; background-image: linear-gradient(-45deg, yellow 1%,red 10%,black 50% );
    font-family: Arial, Helvetica, sans-serif;
}

h3 { 
    box-shadow: 0.25rem 0.313rem 0.938rem indigo;
    color: whitesmoke;
    text-align: center; margin: auto;  
}

a , h4 { text-align: center; color: whitesmoke;  

}

h5 {
    color: white;
    box-shadow: 0.313rem 0.438rem 0.313rem transparent;
    background-image: linear-gradient(45deg, yellow 1%,red 10%,black 50% );
    border-radius: 0.438rem;
    min-width: 16.875rem; max-width: 34.375rem;
    padding: 1.25rem;
}

div#res {
    margin: auto;
    color: white;
    text-align: center;
    font-size: 20pt;
    background-color: transparent;
    min-width: 16.875rem;
    max-width: 30rem;
    box-shadow: 0rem 0rem 0.938rem blue;
}

.criador {
    color: white; font-size: 15pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

pre {
    margin: auto;
    text-align: center;  
}

div#input {
    text-align: center;
    
    box-shadow: 0px 0px 0px transparent;
}

div#btn {
    text-align: center;
    padding-top: 15px;
}

div#sinal {
    color: white;
}

 .imgredonda {
    border-radius: 50%;
    width: 5.313rem;
    height: 5.313rem;
}

.explica {
    background-image: linear-gradient(-45deg, yellow 1%,red 10%,black 50% );
    color: white;
    border-radius: 0.625rem;
    transition: all 1.9s;
}

.explica:hover {
    background-image: linear-gradient(45deg, purple,  purple, purple);
    color: white ;
    border-radius: 0.625rem;
    padding: 1.25rem;
    margin: 0.625rem;
    transition:  all 1.9s;
}

.result {
    color: white ;
    border-radius: 0.625rem;
    transition:  all 1.9s;
}

.result:hover {
    background-image: linear-gradient(45deg, purple,  purple, purple);
    color: white ;
    border-radius: 0.625rem;
    padding: 1.25rem;
    margin: 0.625rem;
    transition:  all 1.9s;
}

.know {
    color: white ;
    border-radius: 0.625rem;
    padding: 0.938rem;
    transition:  all 1.9s;
}

.know:hover {
    background-image: linear-gradient(45deg, red,  red, red);
    color: white ;
    border-radius: 10px;
    padding: 15px; 
    transition:  all 1.9s;
}

.titulo {
    color: white; 
    text-align: center; 
    margin: auto; 
    min-width: 16.875rem;
    max-width: 10rem; 
    box-shadow: 0.063rem 0.313rem 0.75rem indigo ;
    border-radius: 0.625rem; 
    background-image: linear-gradient(-45deg, yellow 1%,red 10%,black 50% );
}

.titulo:hover {
    color: white; 
    text-align: center; 
    margin: auto; 
    width: 12.5rem; 
    box-shadow: 0.063rem 0.313rem 0.75rem indigo ;
    border-radius: 0.625rem; 
    background-image: linear-gradient(45deg, yellow 1%,red 10%,black 50% );
}

.result {
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
0%{
    transform: translateY(0);
} 
50%{
    transform: translateY(30px);
}
100%{
    transform: translateY(0);
}
}


.filosofia {
    animation: float 4s ease-in-out infinite;
}

@keyframes float{
0%{
    transform: translateY(0);
} 
50%{
    transform: translateY(30px);
}
100%{
    transform: translateY(0);
}
}

.quem:hover {
    background-image: linear-gradient(45deg, purple,  purple, purple);
    color: white ;
    border-radius: 0.625rem;
    transition:  all 1.9s;
    font-size: 10pt;
}

footer {
    text-align: center;
    color: white;
}